
    <section class="product">
        <div class="product__container">
        <h3 class="product__h3"> 100% NATURAL </h3>
        <h2 class="product__h2">PRODUCTS</h2>
        <ul class="product__list-product">
            <li class="product__card-one">
                <img src="/src/images/products/home-pic1.png" alt="" width="">
                <h3>ice cream</h3>
                    <p>Indulge in our rich and creamy ice cream, handcrafted with all-natural ingredients and available in a variety of flavors.</p>
    
            </li>
            <li class="product__card-two">
                <img src="/src/images/products/home-pic2.png" alt="" width="">
                <h3>ice coffee</h3>
                <p>Refresh and energize with our perfectly brewed iced coffee, made with high-quality beans and served over ice.</p>
    
            </li>
            <li class="product__card-three">
                <img src="/src/images/products/home-pic3.png" alt="" width="">
                <h3>milkshakes</h3>
                <p>Satisfy your sweet tooth with our thick, made with premium ice cream, topped with whipped cream and your favorite toppings.</p>
    
            </li>
        </ul>
    </div>
    </section>
